#profile{
    .profile-data{
        padding-top: 60px;
        padding-bottom: 30px;
        img{
            border-radius: 50%;
            border: 1px solid rgba(0,0,0,.0975);
            height: 152px;
            width: 152px;

            @media screen and (max-width: 576px) {
                height: 77px;
                width: 77px;
            }
        }
        .profile-name{
            h4{
                font-size: 32px;
                line-height: 40px;
                font-weight: 200;
            }
        }
        .profile-stats{

        }
        .profile-info{
            a, a:visited{
                color: #003569;
                text-decoration: none;            
                font-weight: bold;
            }
        }
    }
}