<div id="profile">
    <div class="container profile-data">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <img class="img-responsive" ng-src="{{$ctrl.profile.image}}" alt="profile-photo">
            </div>
            <div class="d-flex flex-wrap col-md-9 col-sm-6  justify-content-center">
                <div class="profile-name row align-items-center">
                    <div class="col">
                        <h4 class="display-4 ">{{$ctrl.profile.name}}</h4>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-sm btn-primary">Follow</button>                    
                    </div>
                </div>
                <div class="profile-stats">

                </div>
                <div class="profile-info">
                    <div class="col">
                        <p>
                            {{$ctrl.profile.info}}
                        </p>
                        <a ng-href="https://{{$ctrl.profile.link}}" target="_blank">{{$ctrl.profile.link}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>