<div id="navigator">
    <nav class="navbar container navbar-expand-lg">
        <a class="navbar-brand" href="#" >
            <img src="./../../assets/images/instagram.png" alt="icon">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="form-inline mx-auto">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            </form>
            <ul class="navbar-nav my-2 my-lg-0 ">
                <li class="nav-item active">
                    <button class="btn btn-sm btn-primary">Log In</button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-sm btn-sign-up">Sign Up</button>
                </li>
            </ul>
        </div>
    </nav>
</div>
<ui-view></ui-view>