#navigator{
    border-bottom: 1px solid rgba(0,0,0,.0975);
    .navbar{
        background-color: #fff;
        height: 70px;

        .navbar-brand img{
            height: 30px;
            width: 30px;
        }

        .btn{
            font-weight: bold;
            &.btn-sign-up{
                background-color: white;
                border: 0px solig white;
                color: #3897f0;
            }
        }
    }
}